<div>
    <h1>Жилье.....</h1>
    <p></p>
    <h3>Фильтр</h3>
    <form novalidate ng-submit="loadComforts()">
        <input class="form-control" type="text" id = "filterName" placeholder="Нaзвание жилья" ng-model="filter.name_part">
        <p></p>
        <input class="form-control" type="number" step="any"   placeholder="минимальная цена" ng-model="filter.min_price">
        <p></p>
        <input class="form-control" type="number"  step="any" placeholder="максимальная цена" ng-model="filter.max_price">
        <p></p>
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>


    <h3> Жилье</h3>
    {{contextPathThree}}
    <nav aria-label="Жилье">

        <div ng-repeat="c in comfortsPage.content" class = "alert alert-info mt-5">
            <h3>{{c.name}}</h3>
            <p>{{c.info}}</p>
            <p>{{c.price}}</p>

            <a href="#!/details_comfort/{{c.id}} " class="btn btn-warning"  >Детальнее</a>

            <button type="button" class="btn btn-warning" ng-click="showInfoComfort(c.id)">Инфо(алерт)</button>

            <a href="#!/edit_comfort/{{c.id}}" class="btn btn-warning"  >Редактирование</a>

            <a  class="btn btn-danger"  ng-click="deleteComfortById(c.id)" href="#!/comforts" >Удалить</a>
        </div>
        <p></p>
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <li ng-repeat = "p in navList" class="page-item">
                    <a class="page-link" ng-click = "loadComforts(p)">{{p}}</a>
                </li>
            </ul>
        </nav>

        <p></p>
        <h3>Pagination</h3>
        </td>
        <button class="btn btn-primary" ng-click="loadComforts(1)">Load First Page</button>
        <button class="btn btn-primary" ng-click="loadComforts(2)">Load Second Page</button>
        </td>
        <p></p>
        <p></p>

    </nav>
</div>
